@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0E0C07;
}



.bodyEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  #0E0C07;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 340px;
    padding: 20px;
    margin: 20px;
    background: #34322c;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #9c764e;
    /* #995A1C */
    border-right: 20px solid #bc9567;
    ;
}

.container .card.active::before {
    border-top: 20px solid #9c764e;
    border-right: 20px solid #9c764e;
}

.container .card .icon {
    margin-bottom: 10px;
}

.container .card .icon img {
    max-width: 90px;
}

.container .card .content {
    position: relative;
    height: 215px;
    overflow: hidden;
}

.container .card.active .content {
    height: auto;
}

.container .card .content::before {
    /* content: ''; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content .card.active .content::before {
    display: none;
}

.container .card .content h3 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}

.container .card .content p {
    font-weight: 300;
    color: #ccc;
    font-size: 0.74em;
}

.container .card .more {
    position: relative;
    padding: 10px 15px;
    background: #f4b36c;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #383838;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}

.container .card.active .more {
    background: #9c764e;
    color: #fff;
}

.container .card .more::before {
    content: 'Ver exemplos';
}

.container .card.active .more::before {
    content: 'Ver Menos';
}

section {
    height: calc(80vh - 50vh);
    padding-top: 6%;
}

.cabecalho {
    width: 90vw;
    height: 40vh;
    color: #f4b36c;
   display: flex;
}

.cabecalho h1 {
margin-left: 35px;
margin-top: 30px;
font-size: 2em;
font-weight: 800;
}

.cabecalho img {
    width: 180px;
    height: 180px;
    background-color: #f4b36c;
    border-radius: 55%;
    padding-bottom: 3px;
    margin-top: -40px;
    margin-left: 20%;
    
}


.fundoParceiro {
    background: #e6e6e6;
    /* width: 130px;
    height: 40px; */
    padding: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; */
}
.parceiro {
    display: flex;
    /* justify-content:  center; */
    background-color: #142366;
}

.parceiro h2 {
    color: white;
    /* font-size: 2em; */
    font-weight: 600;
    padding: 2%;
}
.parceiro img {
    width: 14%;
    padding: 10px;
    margin-left: 68%;
    border-radius: 12px;
}



@media only screen and (max-width: 576px) {
   /* celular */
    /* section  {
        text-align: center;
        padding-top: 50px;
    } */

   
    /* .logo img {
        width: 70%;
        padding-top: 20px;
        padding-bottom: 30px;
    } */

    /* .logoOab {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        margin-top: -3%;
    } */
}

@media only screen and (min-width: 1024px) {

    /* desktop */
    /* .logo img {
        width: 400px;
        padding-top: 40px;
        padding-bottom: 60px;
    } */
}